*
{
  /* border: 1px solid red; */
}

.playlist 
{
  background-color: #6c2cff;
  max-width: 400px;
  border-radius: 5px;
  padding: 5px;
}

.playlist input{
  background: transparent;
  border: none; 
  color: aqua;
  font-family: serif;
  font-size: 30px;
}

.searchBar
{
  width: 345px;
}

.searchResults
{
  background-color: #6c2cff;
  max-width: 400px;
  border-radius: 5px;
  padding: 5px;
}

.track 
{
  background-color: aqua;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding: 5px;
}

.track .button 
{
  background-color: #6c2cff;
  border-radius: 5px;
}

.track .button p{
  color: aliceblue;
  margin: 10px
}

.track h4
{
  margin-top: 0px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.track p
{
  margin-top: 5px;
  margin-bottom: 0px;
}


